@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.bg-custom-gradient {
	background: linear-gradient(
		to right,
		rgba(175, 247, 236, 0.5),
		rgba(165, 162, 205, 0.5),
		rgba(249, 237, 200, 0.5)
	);
}

.glass {
	backdrop-filter: blur(15px);
	--webkit-backdrop-filter: blur(10px);
}
