@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}
body {
	color: #171717;
	font-family: Arial, Helvetica, sans-serif;
	

}

.bg-custom-gradient {
	/* background: linear-gradient(
		to right,
		rgba(175, 247, 236, 0.5),
		rgba(165, 162, 205, 0.5),
		rgba(249, 237, 200, 0.5)
	); */
}

.glass {
	backdrop-filter: blur(15px) !important;
	-webkit-backdrop-filter: blur(10px) !important;
}
